<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="TemplateDBConnectionString" connectionString="Data Source=SANUSI\SANUSI;Initial Catalog=TemplateDB;User ID=sa;Password=&quot;kronos 123&quot;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="sanusServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <!--<serviceDebug includeExceptionDetailInFaults="false"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <!-- penjelasan properti pada tag service-->
      <!-- name = 'Nama_solution'.'nama_file_SVC'  -->
      <!-- behaviorConfiguration = diisi nama behavior pada tag behavior, kalau belum ada nama nya. kasih id name di tag nya trus namain -->
       <service name="NetTemplateService.NettemplateService" behaviorConfiguration="sanusServiceBehavior">
         <!-- penjelasan properti pada tag endpoint-->
         <!-- contract = 'Nama_solution'.'nama_interface' -->
         <endpoint address="" binding="basicHttpBinding" contract="NetTemplateService.INettemplateService"/> 
          
         <!-- bagian mex di bawah ini udah default, memang harus gitu. tapi VS ga nge generate, tetep harus di tambahin -->
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
       </service>
    </services>  
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
